annotated-types==0.6.0
asyncpg==0.29.0
Faker==24.4.0
gevent==24.2.1
greenlet==3.0.3
iniconfig==2.0.0
msgspec==0.18.6
packaging==24.0
pluggy==1.4.0
pydantic==2.6.4
pydantic_core==2.16.3
pytest==8.1.1
pytest-asyncio==0.23.6
python-dateutil==2.9.0.post0
setuptools==69.2.0
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.10.0
zope.event==5.0
zope.interface==6.2
